@use '@angular/material' as mat;
@use '@assets/scss/helpers/breakpoints.scss' as b;

@mixin app-mixins-theme-helpers($theme) {

  .cursor-pointer {
    cursor: pointer;
  }

  .d-flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-content-center {
    justify-content: center;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .align-items-center {
    align-items: center;
  }

  .text-center {
    text-align: center;
  }

  .gap-4px {
    gap: 4px;
  }

  .gap-8px {
    gap: 8px;
  }

  .gap-1rem {
    gap: 1rem;
  }

  .m-1rem {
    margin: 1rem;
  }

  .mt-1rem {
    margin-top: 1rem;
  }

  .mb-1rem {
    margin-bottom: 1rem;
  }

  .p-1rem {
    padding: 1rem;
  }

  .pr-1rem {
    padding-right: 1rem;
  }

  .pt-1rem {
    padding-top: 1rem;
  }

  .w-100 {
    width: 100%;
  }

  .w-30 {
    width: 30%;
  }

  .w-48 {
    width: 48%;
  }

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }

  .w-70 {
    width: 70%;
  }

  .w-80 {
    width: 80%;
  }

  .h-100 {
    height: 100%;
  }

  .d-none {
    display: none;
  }

  .position-relative {
    position: relative;
  }

  .p-half-rem {
    padding: 0.5rem;
  }

  .m-half-rem {
    margin: 0.5rem;
  }

  .text-align-center {
    text-align: center;
  }

  .primary-color {
    color: mat.get-theme-color($theme, primary, 50) !important;
  }

  .secondary-color {
    color: mat.get-theme-color($theme, primary, 50) !important;
  }

  .error-color {
    color: mat.get-theme-color($theme, error, 50) !important;
  }

  :root {
    --primary-color: #{mat.get-theme-color($theme, primary, 50)};
    --secondary-color: #{mat.get-theme-color($theme, secondary, 50)};
  }
}