@use '@angular/material' as mat;

@mixin app-mixins-theme-table($theme) {

  section {
    .table {
      width: calc(100vw - 300px);

      table {
        width: 100%;

        .actions {
          width: 100px;
        }

        tr {

          th,
          td {
            width: 30%;
          }
        }

        tbody {
          tr:hover {
            background-color: mat.get-theme-color($theme, primary, 98);
          }
        }

      }
    }
  }
}