<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" class="mat-elevation-z1" [opened]="true">

    <div class="d-flex justify-content-center align-items-center">
      <img ngSrc="../../../assets/logos/logo.png" alt="logo" width="120" height="120" priority>
    </div>
    <mat-nav-list>
      @for (link of navList; track link) {
        <a mat-list-item [routerLink]="link.link" routerLinkActive="active" >
          <span matListItemTitle>{{ link?.title }}</span>
          <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
        </a>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="d-flex justify-content-between align-items-center mat-elevation-z1" [ngClass]="{'collapsed': drawer.isOpen}">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="material-icons-outlined">menu</mat-icon>

      </button>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <button mat-icon-button [matTooltip]="'cerrar sesión' | translate | uppercase" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
